@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "AvenirThin";
	src: url("../fonts/AvenirThin/AvenirNextCyr-Thin.eot");
	src: url("../fonts/AvenirThin/AvenirNextCyr-Thin.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/AvenirThin/AvenirNextCyr-Thin.woff") format("woff"),
			 url("../fonts/AvenirThin/AvenirNextCyr-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "AvenirRegular";
	src: url("../fonts/AvenirRegular/AvenirNextCyr-Regular.eot");
	src: url("../fonts/AvenirRegular/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/AvenirRegular/AvenirNextCyr-Regular.woff") format("woff"),
			 url("../fonts/AvenirRegular/AvenirNextCyr-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "AvenirLight";
	src: url("../fonts/AvenirLight/AvenirNextCyr-Light.eot");
	src: url("../fonts/AvenirLight/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/AvenirLight/AvenirNextCyr-Light.woff") format("woff"),
			 url("../fonts/AvenirLight/AvenirNextCyr-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "AvenirDemi";
	src: url("../fonts/AvenirDemi/AvenirNextCyr-Demi.eot");
	src: url("../fonts/AvenirDemi/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/AvenirDemi/AvenirNextCyr-Demi.woff") format("woff"),
			 url("../fonts/AvenirDemi/AvenirNextCyr-Demi.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "AvenirMedium";
	src: url("../fonts/AvenirMedium/AvenirNextCyr-Medium.eot");
	src: url("../fonts/AvenirMedium/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/AvenirMedium/AvenirNextCyr-Medium.woff") format("woff"),
			 url("../fonts/AvenirMedium/AvenirNextCyr-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}




